<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylesheets" />
    </head>
    <body>
        <h1>Hello world !!!</h1>
        <p>This is Jerry Code.</p>
        <form method="POST" action="/postparser">
            First Name: <input type="text" id="firstname" name="firstname" />
        </br>
            Last Name: <input type="text" id="lastname" name="lastname" />
        </br>
            <input type="submit" value="Sumit" />
        </form>
    </body>
</html>