<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Persona: <%= ID.length %></h1>
        <p>This is a QueryString parameter: <%= Qstr %></p>
    </body>
</html>