<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Person Page</h1>
        <form method="POST" action="employee">
            Firs Name: <input type="text" id="firstname" name="firstname" />
            </br>
            Last Name: <input type="text" id="lastname" name="lastname" />
            </br>
            <input type="submit" value="Sumit" />
        </form>
    </body>
</html>